<div class="row">
  <div class="col-12">
    <h1>Sign in to GameBrowse admin</h1>
    <p *ngIf="formError" class="error">{{ formError }}</p>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="credentials.email" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="credentials.password" />
    </div>
    <button (click)="onLoginSubmit()">Sign in</button>
  </div>
</div>
